{% extends 'classroom/base.html' %}
{% block body %}
<div class = "container">
    <div class="row">
        <div class = "twelve colums">
            <h1>Classroom List and Randomizer</h1>
        </div>
    </div>
    <div class="row">
        <div class = "twelve colums">
            <p>Tracking your progress with core competencies.</p>
        </div>
    </div>
    <div class="row">
        <div class="one-half column"><a href ="{% url 'classroom:classroom' %}" class="button" style="color:#999999">CLICK HERE TO UPLOAD CLASS LIST</a></div>
        <div class="one-half column"><a href ="{% url 'classroom:students' %}" class="button" style="color:#999999">CLICK HERE TO PICK A NAME</a></div>
    </div>
</div>
{% endblock %}
